.swiper-button-next,
.swiper-button-prev
{
    transition: .2s linear;

    border: 1px solid var(--primary_color);
    background: var(--bg);

    --swiper-navigation-top-offset: 0;
    --swiper-navigation-color: var(--primary_color);
    --swiper-navigation-size: 56px;
    --swiper-navigation-sides-offset: 0;


    .icon
    {
        display: block;

        width: 19px;
        height: auto;

        aspect-ratio: 1 / 1;
    }


    &:hover
    {
        --swiper-navigation-color: var(--primary_color);
    }
}


.swiper-button-next
{
    .icon
    {
        transform: rotate(180deg);
    }
}


.swiper-pagination
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--inner_gap_s);

    pointer-events: none;

    --swiper-pagination-bottom: 0;
    --swiper-pagination-bullet-inactive-color: var(--grey_color);
    --swiper-pagination-bullet-hover-color: var(--secondary_color);
    --swiper-pagination-bullet-active-color: var(--primary_color);


    .swiper-pagination-bullet
    {
        transition: background .2s linear;
        pointer-events: auto;

        --swiper-pagination-bullet-height: 8px;
        --swiper-pagination-bullet-width: 8px;
        --swiper-pagination-bullet-inactive-opacity: 1;
        --swiper-pagination-bullet-border-radius: 50%;


        &:hover
        {
            background: var(--swiper-pagination-bullet-hover-color);
        }

        &.active
        {
            background: var(--swiper-pagination-bullet-active-color);
        }
    }
}



.swiper-scrollbar
{
    &.swiper-scrollbar-horizontal,
    .swiper-horizontal > &
    {
        position: relative;

        width: 840px;
        max-width: 100%;
        margin-inline: auto;
        margin-top: var(--block_padding_l);

        background: #efefef;

        --swiper-scrollbar-size: 4px;
        --swiper-scrollbar-bottom: 0;
        --swiper-scrollbar-sides-offset: 0;
        --swiper-scrollbar-drag-bg-color: var(--primary_color);
        --swiper-scrollbar-border-radius: 0;
    }
}
